/* GLOBAL */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Margin
@mixin move($margin_bottom:false, $margin_top:false, $small:false, $large:false){

  //Margin top
  @if $margin_top{
    margin-top: $margin_top;

    @if $small{
      &.move_small_top{ margin-top: $margin_top/$small}
    }
    @if $large{
      &.move_large_top{ margin-top: $margin_top*$large }
    }
    &.move_clear_top,
    &.move_clean_top{ margin-top: 0; }
  }

  //Margin bottom
  @if $margin_bottom{

    margin-bottom: $margin_bottom;

    @if $small{
      &.move_small_bottom{ margin-bottom: $margin_bottom/$small }
    }
    @if $large{
      &.move_large_bottom{ margin-bottom: $margin_bottom*$large }
    }
    &.move_clear_bottom,
    &.move_clean_bottom{ margin-bottom: 0; }
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Padding
@mixin move_in($padding_bottom:false, $padding_top:false, $small:false, $large:false){
  //Padding top
  @if $padding_top{

    padding-top: $padding_top;

    @if $small{
      &.move_in_small_top{ padding-top: $padding_top/$small }
    }
    @if $large{
      &.move_in_large_top{ padding-top: $padding_top*$large }
    }
    &.move_in_clear_top,
    &.move_in_clean_top{ padding-top: 0;}
  }

  // Padding bottom
  @if $padding_bottom{

    padding-bottom: $padding_bottom;

    @if $small{
      &.move_in_small_bottom{ padding-bottom: $padding_bottom/$small }
    }
    @if $large{
      &.move_in_large_bottom{ padding-bottom: $padding_bottom*$large }

    }
    &.move_in_clear_bottom,
    &.move_in_clean_bottom{ padding-bottom: 0;}
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Border
@mixin border($border_position:false, $border_width:false, $border_style:false, $border_color:false){
  @if $border_position AND $border_width AND $border_style AND $border_color{
    &.border_#{$border_position}{ border-#{$border_position}: $border_width $border_style $border_color; }
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Height
@mixin height($height:false, $small:false, $large:false){

  @if $height{

    height: $height;

    @if $small{
      &.move_small{ height: $height/$small }
    }

    @if $large{
      &.move_large{ height: $height*$large }
    }

    &.move_clear,
    &.move_clean{height: 0}
  }
}