/* SETUP FLUID GRID */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Generate Grid ($num = number of columns) */
@mixin col_width($num){
  width:(100%/$grid_col_num) * $num;
}

/* Generate Pull width */
@mixin col_pull($num){
  margin-left:-(100%/$grid_col_num) * $num;
}

/* Generate Push width */
@mixin col_push($num){
  margin-left:(100%/$grid_col_num) * $num;
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Grid col style */
@mixin col_style(){
  float: left; min-width: 1px; min-height: 1px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Cols gutter - padding between cols */
@mixin col_gutter($gutter:$gutter){
  @if $gutter == 0 {
    padding-left: 0;
    padding-right: 0;
  }@else{
    padding-left: $gutter/2;
    padding-right: $gutter/2;
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Grid correction for first and last col padding to align with container
@mixin grid_correction($gutter:$gutter){
  @if $gutter == 0 {
    margin-left: 0;
    margin-right: 0;
  }@else{
    margin-left: $gutter/2;
    margin-right: $gutter/2;
  }
}


@mixin grid_generate($grid_name:fluid, $grid_gutter: $gutter) {
  .grid_#{$grid_name}{
    @include grid_correction((-$grid_gutter));
    [class*='col_']{
      @include col_gutter($grid_gutter);
    }
    @extend .clearfix;
  }
}



/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Generate fluid grid  */
@include grid_generate();
@include grid_generate(quarter,$gutter/4);
@include grid_generate(half,$gutter/2);
@include grid_generate(double,$gutter*2);
@include grid_generate(triple,$gutter*3);
@include grid_generate(clean,0);


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Display classes for grid(cols) width
@for $i from 1 to $grid_col_num+1{
  .col_#{$i} {@include col_width($i)}
  .pull_#{$i}{@include col_pull($i)}
  .push_#{$i}{@include col_push($i)}
}

//Standard col style
[class*='col_']{ @include col_style(); }