/* SETUP FLUID GRID */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Generate Grid ($num = number of columns) */
@mixin col_width($num){
  width:(100%/$grid_col_num) * $num;
}

/* Generate Pull width */
@mixin col_pull($num){
  margin-left:-(100%/$grid_col_num) * $num;
}

/* Generate Push width */
@mixin col_push($num){
  margin-left:(100%/$grid_col_num) * $num;
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Grid col style */
@mixin col_style(){
  float: left; min-width: 1px; min-height: 1px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Cols gutter - padding between cols */
@mixin col_gutter($gutter:$gutter){
  [class*='col_']{
    @if $gutter == 0{
      padding-left: 0;
      padding-right: 0;
    } @else{
      padding-left: $gutter/2;
      padding-right: $gutter/2;
    }
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */



// Grid correction for first and last col padding to align with container
@mixin grid_correction($gutter:$gutter){
  @if $gutter == 0 {
    margin-left: 0;
    margin-right: 0;
  }@else{
    margin-left: $gutter/2;
    margin-right: $gutter/2;
  }
}


@mixin grid_generate($grid_name:fluid, $grid_gutter: $gutter) {
  .grid_#{$grid_name}{
    @include grid_correction((-$grid_gutter));
    @include col_gutter($grid_gutter);
    @extend .clearfix;
  }
}



/* ---------------------------------------------------------------------------------------------------------------------------------- */



//Classes for standard Small Screen desktop devices
@mixin l_col(){
  @if $responsive_first == min-width{
    @media screen and ($responsive_first: $screen_large) {
      @for $i from 1 to $grid_col_num+1{
        .col_l_#{$i}{ @include col_width($i) }
        .pull_l_#{$i}{ @include col_pull($i) }
        .push_l_#{$i}{ @include col_push($i) }
      }
      .hide_l{ display: none }
      .show_l{ display: block }
      .push_l_reset,
      .pull_l_reset{ margin-left: 0 }
    }
  }@else{
    @for $i from 1 to $grid_col_num+1{
      .col_l_#{$i},
      .col_#{$i}{ @include col_width($i) }
      .pull_l_#{$i},
      .pull_#{$i}{ @include col_pull($i) }
      .push_l_#{$i},
      .push_#{$i}{ @include col_push($i) }
    }
  }
  @if $responsive_first == max-width{
    .hide_l{ display: none }
    .show_l{ display: block }
    .push_l_reset,
    .pull_l_reset{ margin-left: 0 }
  }
}

//Classes for standard Tablet devices
@mixin m_col(){
  @media screen and ($responsive_first: $screen_medium) {
    @for $i from 1 to $grid_col_num+1{
      .col_m_#{$i} {@include col_width($i)}
      .pull_m_#{$i}{@include col_pull($i)}
      .push_m_#{$i}{@include col_push($i)}
    }
    .hide_m{ display: none}
    .show_m{ display: block}
    .push_m_reset,
    .pull_m_reset{ margin-left: 0}
  }
}

//Classes for standard Larger phone and smaller tablet devices
@mixin s_col(){
  @media screen and ($responsive_first: $screen_small) {
    @for $i from 1 to $grid_col_num+1{
      .col_s_#{$i} {@include col_width($i)}
      .pull_s_#{$i}{@include col_pull($i)}
      .push_s_#{$i}{@include col_push($i)}
    }
    .hide_s{ display: none}
    .show_s{ display: block}
    .push_s_reset,
    .pull_s_reset{ margin-left: 0}
  }
}

//Classes for standard Mobile phone devices
@mixin xs_col(){
  @if $responsive_first == max-width{
    @media screen and ($responsive_first: $screen_xsmall) {
      @for $i from 1 to $grid_col_num+1{
        .col_xs_#{$i}{ @include col_width($i) }
        .pull_xs_#{$i}{ @include col_pull($i) }
        .push_xs_#{$i}{ @include col_push($i) }
      }
      .hide_xs{ display: none }
      .show_xs{ display: block }
      .push_xs_reset,
      .pull_xs_reset{ margin-left: 0 }
    }
  }@else{
    @for $i from 1 to $grid_col_num+1{
      .col_xs_#{$i},
      .col_#{$i}{ @include col_width($i) }
      .pull_xs_#{$i},
      .pull_#{$i}{ @include col_pull($i) }
      .push_xs_#{$i},
      .push_#{$i}{ @include col_push($i) }
    }
    @if $responsive_first == min-width{
      .hide_xs{ display: none }
      .show_xs{ display: block }
      .push_xs_reset,
      .pull_xs_reset{ margin-left: 0 }
    }
  }
}


//Generate grid widths for mobile and desktop first design
@mixin col_width_output(){
  @if $responsive_first == max-width{
    @include l_col();
    @if $responsive == true{
      @include m_col();
      @include s_col();
      @include xs_col();
    }
  }@else{
    @include xs_col();
    @if $responsive == true{
      @include s_col();
      @include m_col();
      @include l_col();
    }
  }

  .push_reset,
  .pull_reset{ margin-left: 0}
}




/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Predefined gutter sizes
$gutter_quarter:$gutter/4;
$gutter_half:$gutter/2;
$gutter_double:$gutter*2;
$gutter_triple:$gutter*3;
$gutter_clean:0;


/* Generate fluid grid  */
@include grid_generate();
@include grid_generate(quarter,$gutter_quarter);
@include grid_generate(half,   $gutter_half);
@include grid_generate(double, $gutter_double);
@include grid_generate(triple, $gutter_triple);
@include grid_generate(clean,  $gutter_clean);


/* ---------------------------------------------------------------------------------------------------------------------------------- */



//Standard col style
[class*='col_']{ @include col_style(); }

//Columns widths
@include col_width_output();