/* COMMON */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


//.footer_buttons_set{
//  @include move($block_move, $block_small, $block_large);
//  margin-top: 40px; margin-bottom: -10px; overflow: hidden;
//  .btn,
//  .back_link{ margin-bottom:10px }
//  .back_link{ display: block}
//  &.clean{border-top: none; padding-top: 0; margin-top: 0;}
//}


/* ---------------------------------------------------------------------------------------------------------------------------------- */
//Mini search form


/* ---------------------------------------------------------------------------------------------------------------------------------- */
//Mini cart



