/* FORMS */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


@include form_fields{

  @include input_style($input_txt_color, $input_bg_color, $input_border_width, $input_border_style, $input_border_color, $input_margin, $input_width, $input_font_family, $input_radius);
  @include appearance(none);
  @include font-smoothing();

  //Default size
  @include input_size($input_height, $input_txt_size, $input_line_height, $input_padding_v, $input_padding_h);

  &.auto_width{ width: auto}
  &:focus{@include box-shadow(rgba($input_focus, 0.2) 0 0 10px);}
  &:disabled{ }
}
textarea{ height: 150px; }


/* Stylize Placeholder */
@include placeholder{
  color: $input_placeholder
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Setup custom select input */
.select {
  @include select_size();
  position: relative;border: $input_border_width $input_border_style $input_border_color;cursor: pointer;overflow:hidden; background-color: $input_bg_color; display: block;@include border-radius($global_radius);

  &:after{ position: absolute; right: 15px; top: 50%;  z-index: 5; text-align: center; color: $select_icon_color; @extend .sy_icon; @extend .sy_arrow_down:before;}
  select{
    position: absolute; cursor:pointer;z-index: 10;background-color: transparent;@include border-radius(0); border:none; width: 100%; left: 0; top: 0; font-family: Arial, Helvetica, sans-serif;
    &:focus{outline: none;}
  }

}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Checkbox and Radio input Global setup */
.checkbox, .radio{
  position: relative;display: table; table-layout: fixed;

  label {
    cursor: pointer;@include user-select(none); margin: 0; display: table-cell; vertical-align: middle; height:100%;
    a{ text-decoration: underline}
  }

  //Icon
  .checkbox_icon,
  .radio_icon{
    text-align:center; border: 1px solid; @extend .sy_icon; position: absolute; left: 0; top: 50%;

    &:before{ position: absolute; left: 50%; top: 50%; }
  }

  //move real input out from viewpoint, don't use display:none because of IE7-8
  input[type=checkbox],
  input[type=radio] {position: absolute;left: 5px; top: 5px; z-index: -1; margin: 0; padding: 0; @include opacity(0)}
}

/* Setup custom checkbox input */
.checkbox{

  //Default size
  @include checkbox_size();

  // icon
  .checkbox_icon { color:$checkbox_bg;background-color: $checkbox_bg;border-color: $checkbox_border; }

  // checked state
  label.checked{
    .checkbox_icon{
      color: $checkbox_active;
    }
  }

  //disabled state
  label.disabled{
    .checkbox_icon{ background-color: $checkbox_border; color:$checkbox_border}
    &.checked{
      .checkbox_icon{color:$checkbox_active}
    }
  }
}

/* Setup custom radio input */
.radio{

  //Default size
  @include radio_size();

  // icon
  .radio_icon {
    background-color: $radio_bg;border-color: $radio_border; @include border-radius(50%);
    &:before{@include border-radius(50%)}
  }

  // checked state
  label.checked{
    .radio_icon:before{
      background-color: $radio_active;
    }
  }

  //disabled state
  label.disabled{
    .radio_icon:before{ background-color: $radio_border; }
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Upload custom input */
.upload{
  position:relative;
  input[type=file]{font-size:29px;width:100%;position:absolute;top:0;cursor:pointer;left:0;display:none}
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Input Big size
.input_big{
  @include form_fields{
    @include input_size($input_height_large, $input_txt_size_large, $input_line_height_large, $input_padding_v_large, $input_padding_h_large);
  }
  .select   { @include select_size($input_height_large, $select_icon_size_large); }
  .checkbox { @include checkbox_size($checkbox_height_large, $checkbox_icon_size_large); }
  .radio    { @include radio_size($radio_height_large, $radio_icon_size_large); }
}

//Input small size
.input_small{
  @include form_fields{
    @include input_size($input_height_small, $input_txt_size_small, $input_line_height_small, $input_padding_v_small, $input_padding_h_small);
  }
  .select   { @include select_size($input_height_small, $select_icon_size_small); }
  .checkbox { @include checkbox_size($checkbox_height_small, $checkbox_icon_size_small);}
  .radio    { @include radio_size($radio_height_small, $radio_icon_size_small);}



}



/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Setup forms layout */
form, .form{
  .field{
    margin-bottom: $form_field_move; position: relative; list-style: none;
    &.large { margin-bottom: $form_field_move_large;}
    &.small { margin-bottom: $form_field_move_small;}
    &.last{ margin-bottom: 0}

    &[data-required="true"] label,
    label.required{
      &:after{ content: "*"; @include font_style($form_required_size); padding-left: $form_required_move}
    }

    label{
      display: block; margin-bottom: $form_label_move; @include font_style($p);

      //label inline with field
      &.inline{ display: inline-block; margin-bottom: 0; padding-top: 5px;}
    }

    .checkbox,
    &.checkbox,
    .radio,
    &.radio{
      label{ margin:0; display: table-cell;@include rem(line-height, $p+$plh) }
    }


  }

  .label_correction{padding-top: 5px}

  //validation error (validation-advice for magento)
  .validation-advice, .error{
    color: $form_error; @include font_style(14px); margin-top: $form_error_move;
    &:before{@extend .sy_icon; @extend .sy_remove_round:before; padding-right: 10px; vertical-align: bottom}
  }
}