/* ICONS */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Font Declaration */
@include font_face($icons_font_family, $icons_font_location, $woff2:false);



[class^="sy_"], [class*=" sy_"],.sy_icon, .sy_icons { font-family: $icons_font_family; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; display:inline-block; @include font-smoothing();}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Make icons spin
.icon_spin {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
	0% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(359deg); }
}
@keyframes spin {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Icon in button
.txt_icon,
.txt_icon_left,
.txt_icon_right{
	i, .icon{ vertical-align: middle; }
}

.txt_icon_left{
	i, .icon{   margin-right: 10px;  }
}

.txt_icon_right{
	i, .icon{  margin-left: 10px; }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Icons Rotate */
.icon_orientation_right{ @include rotate( 90deg); }
.icon_orientation_down { @include rotate( 180deg);}
.icon_orientation_left { @include rotate(-90deg); }


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Icons */

.sy_Pagination:before {
	content: "\e911";
}
.sy_Tables_2:before {
	content: "\e912";
}
.sy_Accordion:before {
	content: "\e900";
}
.sy_Block_1:before {
	content: "\e901";
}
.sy_Block_2:before {
	content: "\e902";
}
.sy_Breadcrumbs:before {
	content: "\e903";
}
.sy_Buttons:before {
	content: "\e904";
}
.sy_Dividers:before {
	content: "\e905";
}
.sy_Forms_2:before {
	content: "\e906";
}
.sy_Forms:before {
	content: "\e907";
}
.sy_Grid:before {
	content: "\e908";
}
.sy_Helpers:before {
	content: "\e909";
}
.sy_Icons:before {
	content: "\e90a";
}
.sy_Messages:before {
	content: "\e90b";
}
.sy_Mixins:before {
	content: "\e90c";
}
.sy_Modal_2:before {
	content: "\e90d";
}
.sy_Modal:before {
	content: "\e90e";
}
.sy_Navigation:before {
	content: "\e90f";
}
.sy_Other:before {
	content: "\e910";
}
.sy_Tables:before {
	content: "\e913";
}
.sy_Tabs:before {
	content: "\e914";
}
.sy_Tooltips:before {
	content: "\e915";
}
.sy_Typography:before {
	content: "\e916";
}
.sy_spinner:before {
	content: "\e60e";
}
.sy_arrow:before {
	content: "\e603";
}
.sy_check:before {
	content: "\e604";
}
.sy_check_round:before {
	content: "\e605";
}
.sy_circle:before {
	content: "\e606";
}
.sy_info:before {
	content: "\e607";
}
.sy_info_round:before {
	content: "\e608";
}
.sy_menu:before {
	content: "\e609";
}
.sy_plus:before {
	content: "\e60a";
}
.sy_remove:before {
	content: "\e60b";
}
.sy_remove_round:before {
	content: "\e60c";
}
.sy_warning:before {
	content: "\e60d";
}

