/* VARIABLES PROJECT SPECIFIC */
/* ---------------------------------------------------------------------------------------------------------------------------------- */



// ---------------------------------------- //
//HEADER
$header_height:     64px;
$header_z_index:    10000;

$header_nav_link_padding:     ($header_height - $mediumlh)/2;
$header_nav_link_btn_padding: ($header_height - $btn_height)/2;


// ---------------------------------------- //
//SIDEBAR
$sidebar_width:           260px;
$sidebar_collapsed_width: 67px;
$sidebar_z_index:         $header_z_index - 1;


// ---------------------------------------- //
//FOOTER


// ---------------------------------------- //
//CATEGORY


// ---------------------------------------- //
//CHECKOUT


// ---------------------------------------- //
//CART


// ---------------------------------------- //
//PRODUCT


// ---------------------------------------- //
//STATIC


// ---------------------------------------- //
//CUSTOMER


// ---------------------------------------- //
//PDF




/* ---------------------------------------------------------------------------------------------------------------------------------- */
//MOBILE
