/* line 5, ../../../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
VARIABLES
Version: 1.0
*/
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/*
RESET
Version: 1.0
*/
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* line 8, ../../../framework/assets/stylish/global/_reset.scss */
:focus {
  outline: 0;
}

/* line 9, ../../../framework/assets/stylish/global/_reset.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
  font-weight: normal;
}

/* line 10, ../../../framework/assets/stylish/global/_reset.scss */
strong {
  font-weight: bold;
}

/* line 11, ../../../framework/assets/stylish/global/_reset.scss */
em, dfn {
  font-style: italic;
}

/* line 12, ../../../framework/assets/stylish/global/_reset.scss */
dfn {
  font-weight: bold;
}

/* line 13, ../../../framework/assets/stylish/global/_reset.scss */
sup, sub {
  line-height: 0;
}

/* line 14, ../../../framework/assets/stylish/global/_reset.scss */
li ul, li ol {
  margin: 0;
  line-height: 1.8;
}

/* line 15, ../../../framework/assets/stylish/global/_reset.scss */
ul {
  list-style-type: disc;
  margin: 0;
}

/* line 16, ../../../framework/assets/stylish/global/_reset.scss */
ol {
  list-style-type: decimal;
  margin: 0;
}

/* Layout Reset Style */
/* line 20, ../../../framework/assets/stylish/global/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../../../framework/assets/stylish/global/_reset.scss */
.no_br,
.nobr,
#sidebar .navigation > li > a {
  white-space: nowrap;
}

/* Floating Clear */
/* line 26, ../../../framework/assets/stylish/global/_reset.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, ../../../framework/assets/stylish/global/_reset.scss */
.clear {
  clear: both;
}

/*
TYPOGRAPHY
Version: 1.0
*/
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Setup Link color states */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Font Declaration mixin (not using compasses default mixin) */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ICONS */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Font Declaration */
@font-face {
  font-family: "stylish";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/stylish.eot");
  src: url("../fonts/stylish.eot?iefix") format("eot"), url("../fonts/stylish.svg#stylish") format("svg"), url("../fonts/stylish.woff") format("woff"), url("../fonts/stylish.ttf") format("truetype");
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "stylish";
    src: url("../fonts/stylish.svg#stylish") format("svg");
    font-style: normal;
    font-weight: normal;
  }
}
/* line 10, ../assets/stylish/global/_icons.scss */
[class^="sy_"], [class*=" sy_"], .sy_icon, #sidebar .navigation > li[data-has-drop="true"] > a:after, .sy_icons {
  font-family: "stylish";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* line 17, ../assets/stylish/global/_icons.scss */
.icon_spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* line 48, ../assets/stylish/global/_icons.scss */
.txt_icon i, .txt_icon .icon,
.txt_icon_left i,
.txt_icon_left .icon,
.txt_icon_right i,
.txt_icon_right .icon {
  vertical-align: middle;
}

/* line 52, ../assets/stylish/global/_icons.scss */
.txt_icon_left i, .txt_icon_left .icon {
  margin-right: 10px;
}

/* line 56, ../assets/stylish/global/_icons.scss */
.txt_icon_right i, .txt_icon_right .icon {
  margin-left: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Icons Rotate */
/* line 64, ../assets/stylish/global/_icons.scss */
.icon_orientation_right {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 65, ../assets/stylish/global/_icons.scss */
.icon_orientation_down, #sidebar .navigation > li[data-has-drop="true"] > a:after {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 66, ../assets/stylish/global/_icons.scss */
.icon_orientation_left {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Icons */
/* line 74, ../assets/stylish/global/_icons.scss */
.sy_Pagination:before {
  content: "\e911";
}

/* line 77, ../assets/stylish/global/_icons.scss */
.sy_Tables_2:before {
  content: "\e912";
}

/* line 80, ../assets/stylish/global/_icons.scss */
.sy_Accordion:before {
  content: "\e900";
}

/* line 83, ../assets/stylish/global/_icons.scss */
.sy_Block_1:before {
  content: "\e901";
}

/* line 86, ../assets/stylish/global/_icons.scss */
.sy_Block_2:before {
  content: "\e902";
}

/* line 89, ../assets/stylish/global/_icons.scss */
.sy_Breadcrumbs:before {
  content: "\e903";
}

/* line 92, ../assets/stylish/global/_icons.scss */
.sy_Buttons:before {
  content: "\e904";
}

/* line 95, ../assets/stylish/global/_icons.scss */
.sy_Dividers:before {
  content: "\e905";
}

/* line 98, ../assets/stylish/global/_icons.scss */
.sy_Forms_2:before {
  content: "\e906";
}

/* line 101, ../assets/stylish/global/_icons.scss */
.sy_Forms:before {
  content: "\e907";
}

/* line 104, ../assets/stylish/global/_icons.scss */
.sy_Grid:before {
  content: "\e908";
}

/* line 107, ../assets/stylish/global/_icons.scss */
.sy_Helpers:before {
  content: "\e909";
}

/* line 110, ../assets/stylish/global/_icons.scss */
.sy_Icons:before {
  content: "\e90a";
}

/* line 113, ../assets/stylish/global/_icons.scss */
.sy_Messages:before {
  content: "\e90b";
}

/* line 116, ../assets/stylish/global/_icons.scss */
.sy_Mixins:before {
  content: "\e90c";
}

/* line 119, ../assets/stylish/global/_icons.scss */
.sy_Modal_2:before {
  content: "\e90d";
}

/* line 122, ../assets/stylish/global/_icons.scss */
.sy_Modal:before {
  content: "\e90e";
}

/* line 125, ../assets/stylish/global/_icons.scss */
.sy_Navigation:before {
  content: "\e90f";
}

/* line 128, ../assets/stylish/global/_icons.scss */
.sy_Other:before {
  content: "\e910";
}

/* line 131, ../assets/stylish/global/_icons.scss */
.sy_Tables:before {
  content: "\e913";
}

/* line 134, ../assets/stylish/global/_icons.scss */
.sy_Tabs:before {
  content: "\e914";
}

/* line 137, ../assets/stylish/global/_icons.scss */
.sy_Tooltips:before {
  content: "\e915";
}

/* line 140, ../assets/stylish/global/_icons.scss */
.sy_Typography:before {
  content: "\e916";
}

/* line 143, ../assets/stylish/global/_icons.scss */
.sy_spinner:before {
  content: "\e60e";
}

/* line 146, ../assets/stylish/global/_icons.scss */
.sy_arrow:before, #sidebar .navigation > li[data-has-drop="true"] > a:after {
  content: "\e603";
}

/* line 149, ../assets/stylish/global/_icons.scss */
.sy_check:before {
  content: "\e604";
}

/* line 152, ../assets/stylish/global/_icons.scss */
.sy_check_round:before {
  content: "\e605";
}

/* line 155, ../assets/stylish/global/_icons.scss */
.sy_circle:before {
  content: "\e606";
}

/* line 158, ../assets/stylish/global/_icons.scss */
.sy_info:before {
  content: "\e607";
}

/* line 161, ../assets/stylish/global/_icons.scss */
.sy_info_round:before {
  content: "\e608";
}

/* line 164, ../assets/stylish/global/_icons.scss */
.sy_menu:before {
  content: "\e609";
}

/* line 167, ../assets/stylish/global/_icons.scss */
.sy_plus:before {
  content: "\e60a";
}

/* line 170, ../assets/stylish/global/_icons.scss */
.sy_remove:before {
  content: "\e60b";
}

/* line 173, ../assets/stylish/global/_icons.scss */
.sy_remove_round:before {
  content: "\e60c";
}

/* line 176, ../assets/stylish/global/_icons.scss */
.sy_warning:before {
  content: "\e60d";
}

/* VARIABLES PROJECT SPECIFIC */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* line 13, ../assets/stylish/style.scss */
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/* line 16, ../assets/stylish/style.scss */
#header {
  background-color: #ffffff;
  height: 64px;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
}
/* line 20, ../assets/stylish/style.scss */
#header #logo {
  display: block;
  padding: 12px 0;
  height: 64px;
}
/* line 22, ../assets/stylish/style.scss */
#header #logo img {
  width: auto;
  height: 100%;
  max-height: 64px;
}
/* line 25, ../assets/stylish/style.scss */
#header .nav {
  border-left: 1px solid #eaeaea;
  height: 64px;
}
/* line 27, ../assets/stylish/style.scss */
#header .nav > li {
  border-right: 1px solid #eaeaea;
  padding: 0 25px;
  height: 100%;
}
/* line 30, ../assets/stylish/style.scss */
#header .nav > li.link a {
  padding-top: 23.5px;
  padding-bottom: 23.5px;
  height: 64px;
  font-size: 16px;
  font-size: 0.88889rem;
  line-height: 17px;
  line-height: 0.94444rem;
  color: #bbbbbb;
}
/* line 103, ../../../framework/assets/stylish/mixins/_typography.scss */
#header .nav > li.link a:hover, #header .nav > li.link a.active, #header .nav > li.link a.current, #header .nav > li.link a:focus {
  color: #dd3501;
}
/* line 105, ../../../framework/assets/stylish/mixins/_typography.scss */
#header .nav > li.link a.disabled {
  color: #bbbbbb;
}
/* line 33, ../assets/stylish/style.scss */
#header .nav > li.link_btn {
  padding-top: 12px;
  padding-bottom: 12px;
}
/* line 38, ../assets/stylish/style.scss */
#header .nav > li.clear_border {
  border-right: none;
}
/* line 39, ../assets/stylish/style.scss */
#header .nav > li.clear_padding_right {
  padding-right: 0;
}

/* CONTENT */
/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* line 52, ../assets/stylish/style.scss */
#wrapper {
  padding-left: 260px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-property: padding-left;
  -o-transition-property: padding-left;
  -webkit-transition-property: padding-left;
  transition-property: padding-left;
}
/* line 54, ../assets/stylish/style.scss */
#wrapper #wrap {
  position: relative;
}

/* line 57, ../assets/stylish/style.scss */
#main_content {
  padding: 124px 40px 60px;
  position: relative;
}

/* line 60, ../assets/stylish/style.scss */
.grid_block {
  background-color: #f1f1f1;
  height: 50px;
  padding: 15px 10px;
}

/* line 63, ../assets/stylish/style.scss */
.btn_nav li {
  margin-right: 10px;
}
/* line 65, ../assets/stylish/style.scss */
.btn_nav li:last-child {
  margin-right: 0;
}

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 *
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
/* line 88, ../assets/stylish/style.scss */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  min-height: inherit !important;
  min-height: auto !important;
}

/* line 124, ../assets/stylish/style.scss */
.syntaxhighlighter {
  padding: 30px 50px;
  width: 100% !important;
  position: relative !important;
  overflow: auto !important;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 24px;
  line-height: 1.33333rem;
}

/* line 131, ../assets/stylish/style.scss */
.syntaxhighlighter.source {
  overflow: hidden !important;
}

/* line 134, ../assets/stylish/style.scss */
.syntaxhighlighter .bold {
  font-weight: bold !important;
}

/* line 137, ../assets/stylish/style.scss */
.syntaxhighlighter .italic {
  font-style: italic !important;
}

/* line 140, ../assets/stylish/style.scss */
.syntaxhighlighter .line {
  white-space: pre !important;
}

/* line 143, ../assets/stylish/style.scss */
.syntaxhighlighter table {
  width: 100% !important;
}

/* line 146, ../assets/stylish/style.scss */
.syntaxhighlighter table caption {
  text-align: left !important;
  padding: .5em 0 0.5em 1em !important;
}

/* line 150, ../assets/stylish/style.scss */
.syntaxhighlighter table td.code {
  width: 100% !important;
}

/* line 153, ../assets/stylish/style.scss */
.syntaxhighlighter table td.code .container {
  position: relative !important;
}

/* line 156, ../assets/stylish/style.scss */
.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: #f1f1f1 !important;
  padding-left: 1em !important;
  overflow: hidden !important;
  white-space: pre !important;
}

/* line 169, ../assets/stylish/style.scss */
.syntaxhighlighter table td.gutter .line {
  text-align: right !important;
  padding: 0 0.5em 0 1em !important;
}

/* line 173, ../assets/stylish/style.scss */
.syntaxhighlighter table td.code .line {
  padding: 0 1em !important;
}

/* line 176, ../assets/stylish/style.scss */
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em !important;
}

/* line 179, ../assets/stylish/style.scss */
.syntaxhighlighter.show {
  display: block !important;
}

/* line 182, ../assets/stylish/style.scss */
.syntaxhighlighter.collapsed table {
  display: none !important;
}

/* line 185, ../assets/stylish/style.scss */
.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0em 0.8em !important;
  font-size: 1em !important;
  position: static !important;
  width: auto !important;
  height: auto !important;
}

/* line 192, ../assets/stylish/style.scss */
.syntaxhighlighter.collapsed .toolbar span {
  display: inline !important;
  margin-right: 1em !important;
}

/* line 196, ../assets/stylish/style.scss */
.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0 !important;
  display: none !important;
}

/* line 200, ../assets/stylish/style.scss */
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline !important;
}

/* line 203, ../assets/stylish/style.scss */
.syntaxhighlighter .toolbar {
  display: none;
  position: absolute !important;
  right: 1px !important;
  top: 1px !important;
  width: 11px !important;
  height: 11px !important;
  font-size: 10px !important;
  z-index: 10 !important;
}

/* line 213, ../assets/stylish/style.scss */
.syntaxhighlighter .toolbar span.title {
  display: inline !important;
}

/* line 216, ../assets/stylish/style.scss */
.syntaxhighlighter .toolbar a {
  display: block !important;
  text-align: center !important;
  text-decoration: none !important;
  padding-top: 1px !important;
}

/* line 222, ../assets/stylish/style.scss */
.syntaxhighlighter .toolbar a.expandSource {
  display: none !important;
}

/* line 225, ../assets/stylish/style.scss */
.syntaxhighlighter.ie {
  font-size: .9em !important;
  padding: 1px 0 1px 0 !important;
}

/* line 229, ../assets/stylish/style.scss */
.syntaxhighlighter.ie .toolbar {
  line-height: 8px !important;
}

/* line 232, ../assets/stylish/style.scss */
.syntaxhighlighter.ie .toolbar a {
  padding-top: 0px !important;
}

/* line 235, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none !important;
}

/* line 242, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .line .number {
  color: #bbbbbb !important;
}

/* line 245, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .line .content {
  color: black !important;
}

/* line 248, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .toolbar {
  display: none !important;
}

/* line 251, ../assets/stylish/style.scss */
.syntaxhighlighter.printing a {
  text-decoration: none !important;
}

/* line 254, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: black !important;
}

/* line 257, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 !important;
}

/* line 260, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue !important;
}

/* line 263, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .keyword {
  color: #006699 !important;
  font-weight: bold !important;
}

/* line 267, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .preprocessor {
  color: gray !important;
}

/* line 270, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .variable {
  color: #aa7700 !important;
}

/* line 273, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .value {
  color: #009900 !important;
}

/* line 276, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .functions {
  color: #ff1493 !important;
}

/* line 279, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .constants {
  color: #0066cc !important;
}

/* line 282, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .script {
  font-weight: bold !important;
}

/* line 285, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: gray !important;
}

/* line 288, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: #ff1493 !important;
}

/* line 291, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: red !important;
}

/* line 294, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: black !important;
}

/* line 298, ../assets/stylish/style.scss */
.syntaxhighlighter {
  background-color: #f7f6f2 !important;
}

/* line 301, ../assets/stylish/style.scss */
.syntaxhighlighter .line.alt1 {
  background-color: #f7f6f2 !important;
}

/* line 304, ../assets/stylish/style.scss */
.syntaxhighlighter .line.alt2 {
  background-color: #f7f6f2 !important;
}

/* line 307, ../assets/stylish/style.scss */
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #e0e0e0 !important;
}

/* line 310, ../assets/stylish/style.scss */
.syntaxhighlighter .line.highlighted.number {
  color: black !important;
}

/* line 313, ../assets/stylish/style.scss */
.syntaxhighlighter table caption {
  color: black !important;
}

/* line 316, ../assets/stylish/style.scss */
.syntaxhighlighter .gutter {
  color: #afafaf !important;
}

/* line 319, ../assets/stylish/style.scss */
.syntaxhighlighter .gutter .line {
  border-right: 1px solid #dbdbdb !important;
}

/* line 322, ../assets/stylish/style.scss */
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #dbdbdb !important;
  color: white !important;
}

/* line 326, ../assets/stylish/style.scss */
.syntaxhighlighter.printing .line .content {
  border: none !important;
}

/* line 329, ../assets/stylish/style.scss */
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}

/* line 332, ../assets/stylish/style.scss */
.syntaxhighlighter.collapsed .toolbar {
  color: blue !important;
  background: white !important;
  border: 1px solid #dbdbdb !important;
}

/* line 337, ../assets/stylish/style.scss */
.syntaxhighlighter.collapsed .toolbar a {
  color: blue !important;
}

/* line 340, ../assets/stylish/style.scss */
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: red !important;
}

/* line 343, ../assets/stylish/style.scss */
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #dbdbdb !important;
  border: none !important;
}

/* line 348, ../assets/stylish/style.scss */
.syntaxhighlighter .toolbar a {
  color: white !important;
}

/* line 351, ../assets/stylish/style.scss */
.syntaxhighlighter .toolbar a:hover {
  color: black !important;
}

/* line 354, ../assets/stylish/style.scss */
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: black !important;
}

/* line 357, ../assets/stylish/style.scss */
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #008200 !important;
}

/* line 360, ../assets/stylish/style.scss */
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: blue !important;
}

/* line 363, ../assets/stylish/style.scss */
.syntaxhighlighter .keyword {
  color: #006699 !important;
}

/* line 366, ../assets/stylish/style.scss */
.syntaxhighlighter .preprocessor {
  color: gray !important;
}

/* line 369, ../assets/stylish/style.scss */
.syntaxhighlighter .variable {
  color: #aa7700 !important;
}

/* line 372, ../assets/stylish/style.scss */
.syntaxhighlighter .value {
  color: #009900 !important;
}

/* line 375, ../assets/stylish/style.scss */
.syntaxhighlighter .functions {
  color: #ff1493 !important;
}

/* line 378, ../assets/stylish/style.scss */
.syntaxhighlighter .constants {
  color: #0066cc !important;
}

/* line 381, ../assets/stylish/style.scss */
.syntaxhighlighter .script {
  font-weight: bold !important;
  color: #006699 !important;
  background-color: none !important;
}

/* line 386, ../assets/stylish/style.scss */
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: gray !important;
}

/* line 389, ../assets/stylish/style.scss */
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #ff1493 !important;
}

/* line 392, ../assets/stylish/style.scss */
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: red !important;
}

/* line 396, ../assets/stylish/style.scss */
.syntaxhighlighter .keyword {
  font-weight: bold !important;
}

/* line 403, ../assets/stylish/style.scss */
#sidebar {
  width: 260px;
  height: 100%;
  z-index: 9999;
  overflow-x: hidden;
  background-color: #474747;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 64px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
}
/* line 406, ../assets/stylish/style.scss */
#sidebar .navigation {
  width: 260px;
  list-style: none;
}
/* line 409, ../assets/stylish/style.scss */
#sidebar .navigation > li {
  display: block;
  position: relative;
}
/* line 411, ../assets/stylish/style.scss */
#sidebar .navigation > li[data-has-drop="true"] > a:after {
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -9px;
  color: #ffffff;
}
/* line 413, ../assets/stylish/style.scss */
#sidebar .navigation > li > a {
  position: relative;
  border-bottom: 1px solid #5b5b59;
  padding: 12px 50px 12px 20px;
  display: block;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  font-size: 0.88889rem;
  line-height: 17px;
  line-height: 0.94444rem;
  font-weight: 500;
}
/* line 103, ../../../framework/assets/stylish/mixins/_typography.scss */
#sidebar .navigation > li > a:hover, #sidebar .navigation > li > a.active, #sidebar .navigation > li > a.current, #sidebar .navigation > li > a:focus {
  color: #dd3501;
}
/* line 105, ../../../framework/assets/stylish/mixins/_typography.scss */
#sidebar .navigation > li > a.disabled {
  color: #ffffff;
}
/* line 415, ../assets/stylish/style.scss */
#sidebar .navigation > li > a i {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 24px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-property: margin-right;
  -o-transition-property: margin-right;
  -webkit-transition-property: margin-right;
  transition-property: margin-right;
}
/* line 416, ../assets/stylish/style.scss */
#sidebar .navigation > li > a:hover {
  background-color: #373737;
}
/* line 420, ../assets/stylish/style.scss */
#sidebar .navigation > li ul.drop {
  background-color: #373737;
  padding: 20px 0;
  position: relative;
  display: none;
  border-bottom: 1px solid #5b5b59;
}
/* line 422, ../assets/stylish/style.scss */
#sidebar .navigation > li ul.drop:after, #sidebar .navigation > li ul.drop:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 14px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: #474747;
}
/* line 426, ../assets/stylish/style.scss */
#sidebar .navigation > li ul.drop:before {
  border-top-color: #5b5b59;
  top: 0;
}
/* line 428, ../assets/stylish/style.scss */
#sidebar .navigation > li ul.drop > li > a {
  display: block;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 19px;
  line-height: 1.05556rem;
  font-weight: 300;
  padding: 7px 20px;
  color: #ffffff;
}
/* line 103, ../../../framework/assets/stylish/mixins/_typography.scss */
#sidebar .navigation > li ul.drop > li > a:hover, #sidebar .navigation > li ul.drop > li > a.active, #sidebar .navigation > li ul.drop > li > a.current, #sidebar .navigation > li ul.drop > li > a:focus {
  color: #fe4b13;
}
/* line 105, ../../../framework/assets/stylish/mixins/_typography.scss */
#sidebar .navigation > li ul.drop > li > a.disabled {
  color: #ffffff;
}
/* line 434, ../assets/stylish/style.scss */
#sidebar .navigation > li.active > a {
  color: #dd3501;
}
/* line 436, ../assets/stylish/style.scss */
#sidebar .navigation > li.active > a:after {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 439, ../assets/stylish/style.scss */
#sidebar .navigation > li.active ul.drop {
  display: block;
}
