/* FORMS */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Placeholder mixin
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
  .placeholder                {@content}
  .placeholderjs              {@content}
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


@mixin form_fields{
  input[type=text],
  input[type=tel],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=url],
  input[type=datetime],
  input[type=search],
  textarea,
  select{
    @content
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Checkbox size
@mixin checkbox_size($size:false, $size_icon:false, $rem:false){
  @if $rem{ // if using rem

    @include rem(min-height, $size);

    //Firefox min-height bug fix
    @-moz-document url-prefix() {
      @include rem(height, $size);
    }

    label {
      @include rem(padding-left, $size+15);
      &.empty{ padding-left:0; @include rem(width, $size) }
    }

    // icon
    .checkbox_icon {
      @include rem(width, $size);@include rem(height, $size); @include rem(margin-top, -$size/2); @include rem(line-height, $size_icon);
      &:before{@extend .sy_check:before; @include rem(font-size, $size_icon); @include rem(margin, (-$size_icon/2) 0 0 (-$size_icon/2)); @include rem(width, $size_icon); @include rem(height, $size_icon);}
    }

  } @else { // if not using rem
    min-height:$size;

    //Firefox min-height bug fix
    @-moz-document url-prefix() {
      height: $size;
    }

    label {
      padding-left:$size+15;
      &.empty{ padding-left:0; width: $size }
    }

    // icon
    .checkbox_icon {
      width: $size;height: $size; margin-top: -$size/2; line-height: $size_icon;
      &:before{@extend .sy_check:before; font-size: $size_icon; margin: (-$size_icon/2) 0 0 (-$size_icon/2); width: $size_icon; height: $size_icon;}
    }
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Radio size
@mixin radio_size($size:false, $size_icon:false, $rem:false) {
  @if $rem{ // if using rem
    @include rem(min-height, $size);

    //Firefox min-height bug fix
    @-moz-document url-prefix() {
      @include rem(height, $size);
    }

    label {
      @include rem(padding-left, $size+15);
      &.empty{ padding-left:0; @include rem(width, $size) }
    }

    // icon
    .radio_icon{
      @include rem(width, $size);@include rem(height, $size); @include rem(margin-top, -$size/2); @include rem(line-height, $size_icon);
      &:before{content: ""; @include rem(margin, (-$size_icon/2) 0 0 (-$size_icon/2)); @include rem(width, $size_icon); @include rem(height, $size_icon);}
    }

  }@else{  // if not using rem
    min-height:$size;

    //Firefox min-height bug fix
    @-moz-document url-prefix() {
      height: $size;
    }

    label{
      padding-left: $size+15;
      &.empty{ padding-left:0; width: $size }
    }

    // icon
    .radio_icon{
      width: $size; height: $size; margin-top: -$size/2; line-height: $size_icon;
      &:before{ content: ""; margin: (-$size_icon/2) 0 0 (-$size_icon/2); width: $size_icon; height: $size_icon; }
    }
  }

}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Select size
@mixin select_size($height: false, $icon_size:false, $rem:false){
  @if $rem{
    @if $height   {@include rem(height,$height);}
    @if $icon_size{
      &:after{ @include font_style($icon_size); @include rem(margin-top, -($icon_size/2));}
    }
  }@else{
    @if $height   {height:$height;}
    @if $icon_size{
      &:after{ @include font_style($icon_size, $rem:false); margin-top: -($icon_size/2);}
    }
  }

}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Default input style
@mixin input_style( $color:false, $background_color:false, $border_width: false, $border_style:false, $border_color: false, $margin: false, $width:false, $font_family:false, $radius: false, $weight: false){
  @if $color            {color:$color;}
  @if $background_color {background-color:$background_color;}
  @if $border_width     {border-width:$border_width;}
  @if $border_style     {border-style:$border_style;}
  @if $border_color     {border-color:$border_color;}
  @if $margin           {margin:$margin;}
  @if $width            {width:$width;}
  @if $font_family      {font-family:$font_family;}
  @if $radius           {@include border-radius($radius);}
  @if $weight           {font-weight: $weight}
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


@mixin input_size( $height: false, $text_size: false, $line_height:false, $padding_vertical:false, $padding_horizontal:false, $rem: false ){
  @if $rem{
    @if $height             { @include rem(height, $height); }
    @if $text_size          { @include rem(font-size, $text_size); }
    @if $line_height        { @include rem(line-height, $line_height); }
    @if $padding_vertical   { @include rem(padding-top, $padding_vertical); @include rem(padding-bottom, $padding_vertical); }
    @if $padding_horizontal { @include rem(padding-left, $padding_horizontal); @include rem(padding-right, $padding_horizontal); }
  }@else{
    @if $height             { height: $height; }
    @if $text_size          { font-size: $text_size; }
    @if $line_height        { line-height: $line_height; }
    @if $padding_vertical   { padding-top: $padding_vertical; padding-bottom: $padding_vertical; }
    @if $padding_horizontal { padding-left: $padding_horizontal; padding-right: $padding_horizontal; }
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */

//Button generate sizes based on scheme
@mixin input_sizes_generate(){

  @each $size in $input_sizes{

    $name:                nth($size, 1);
    $height:              nth($size, 2);
    $text_size:           nth($size, 3);
    $line_height:         nth($size, 4);
    $move_in_v:           nth($size, 5);
    $move_in_h:           nth($size, 6);
    $border_width:        nth($size, 7);
    $checkbox_icon_size:  nth($size, 8);
    $radio_icon_size:     nth($size, 9);
    $select_icon_size:    nth($size, 10);

    @if $name == default{

      @include form_fields{
        @include input_size($height, $text_size, $line_height, $move_in_v, $move_in_h);
      }
      .checkbox { @include checkbox_size($height, $checkbox_icon_size); }
      .radio    { @include radio_size($height, $radio_icon_size); }
      .select   { @include select_size($height, $select_icon_size); }

    }@else{

      .input_#{$name}{
        @include form_fields{
          @include input_size($height, $text_size, $line_height, $move_in_v, $move_in_h);
        }
        .checkbox { @include checkbox_size($height, $checkbox_icon_size); }
        .radio    { @include radio_size($height, $radio_icon_size); }
        .select   { @include select_size($height, $select_icon_size); }
      }

    }
  }
}
