/*
GLOBAL
Version: 1.0
*/
/* ---------------------------------------------------------------------------------------------------------------------------------- */

//Border
@mixin border($position:false, $width:false, $style:false, $color:false, $default_show:false){
	@if $position AND $width AND $style AND $color{
		@if $default_show{
			border-#{$position}: $width $style $color;
		}@else{
			&.border_#{$position}{ border-#{$position}: $width $style $color; }
		}
	}
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Generate background image positions
@mixin bg_img_position(){
	&[data-bg-h="left"]{
		&[data-bg-v="top"]    { background-position: left top; }
		&[data-bg-v="center"] { background-position: left center;}
		&[data-bg-v="bottom"] { background-position: left bottom;}
	}

	&[data-bg-h="center"]{
		&[data-bg-v="top"]    { background-position: center top; }
		&[data-bg-v="center"] { background-position: center center;}
		&[data-bg-v="bottom"] { background-position: center bottom;}
	}

	&[data-bg-h="right"]{
		&[data-bg-v="top"]    { background-position: right top; }
		&[data-bg-v="center"] { background-position: right center;}
		&[data-bg-v="bottom"] { background-position: right bottom;}
	}
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */



//Spacer generate sizes based on scheme
@mixin map_property_generate($map: false, $class:false, $property:false, $orientation:false, $default_show:false, $negative:false){

	@if $orientation {
		$property: #{$property}-#{$orientation};
		$orientation : _#{$orientation};
	}@else{
		$property: #{$property};
		$orientation : '';
	}

	@if $negative{
		$negative: '-';
	}@else {
		$negative: '';
	}


	@each $key, $values in $map{
		@if $default_show{
			@if $key == default{
				#{$property}: #{$negative}$values;
			}@else{
				&.#{$class}#{$orientation}_#{$key},
				&.#{$class}_#{$key}#{$orientation}
				{#{$property}: #{$negative}$values;}
			}
		}@else{
			&.#{$class}#{$orientation}_#{$key},
			&.#{$class}_#{$key}#{$orientation}
			{#{$property}: #{$negative}$values;}
		}

	}

	&.#{$class}#{$orientation}_clean,
	&.#{$class}#{$orientation}_clear,
	&.#{$class}_clear#{$orientation},
	&.#{$class}_clean#{$orientation}
	{ #{$property}: 0;}
}