/* GLOBAL */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Move - margin (Standard - default, tiny, small, medium, large, huge, giant)
@mixin move($orientation:false, $default:false, $tiny:false, $small:false, $medium:false, $large:false, $huge:false, $giant:false, $default_show:false ){

  @if $orientation{

    @if $default{
      @if $default_show{
        margin-#{$orientation}: $default;
      }@else{
        &.move_default_#{$orientation},
        &.move_#{$orientation}_default{
          margin-#{$orientation}: $default;
        }
      }
    }

    @if $tiny{
      &.move_default_#{$orientation},
      &.move_#{$orientation}_default{
        margin-#{$orientation}: $tiny;
      }
    }

    @if $small{
      &.move_default_#{$orientation},
      &.move_#{$orientation}_default{
        margin-#{$orientation}: $small;
      }
    }

    @if $medium{
      &.move_default_#{$orientation},
      &.move_#{$orientation}_default{
        margin-#{$orientation}: $medium;
      }
    }

    @if $large{
      &.move_default_#{$orientation},
      &.move_#{$orientation}_default{
        margin-#{$orientation}: $large;
      }
    }

    @if $huge{
      &.move_default_#{$orientation},
      &.move_#{$orientation}_default{
        margin-#{$orientation}: $huge;
      }
    }

    @if $giant{
      &.move_default_#{$orientation},
      &.move_#{$orientation}_default{
        margin-#{$orientation}: $giant;
      }
    }

    &.move_clear_#{$orientation},
    &.move_clean_#{$orientation},
    &.move_#{$orientation}_clear,
    &.move_#{$orientation}_clean { margin-#{$orientation}: 0; }
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Move In - padding (Standard - default, tiny, small, medium, large, huge, giant)
@mixin move_in($orientation:false, $default:false, $tiny:false, $small:false, $medium:false, $large:false, $huge:false, $giant:false, $default_show:false ){

  @if $orientation{

    @if $default{
      @if $default_show{
        padding-#{$orientation}: $default;
      }@else{
        &.move_in_default_#{$orientation},
        &.move_in_#{$orientation}_default{
          padding-#{$orientation}: $default;
        }
      }
    }

    @if $tiny{
      &.move_in_default_#{$orientation},
      &.move_in_#{$orientation}_default{
        padding-#{$orientation}: $tiny;
      }
    }

    @if $small{
      &.move_in_default_#{$orientation},
      &.move_in_#{$orientation}_default{
        padding-#{$orientation}: $small;
      }
    }

    @if $medium{
      &.move_in_default_#{$orientation},
      &.move_in_#{$orientation}_default{
        padding-#{$orientation}: $medium;
      }
    }

    @if $large{
      &.move_in_default_#{$orientation},
      &.move_in_#{$orientation}_default{
        padding-#{$orientation}: $large;
      }
    }

    @if $huge{
      &.move_in_default_#{$orientation},
      &.move_in_#{$orientation}_default{
        padding-#{$orientation}: $huge;
      }
    }

    @if $giant{
      &.move_in_default_#{$orientation},
      &.move_in_#{$orientation}_default{
        padding-#{$orientation}: $giant;
      }
    }

    &.move_clear_#{$orientation},
    &.move_clean_#{$orientation},
    &.move_in_#{$orientation}_clear,
    &.move_in_#{$orientation}_clean { padding-#{$orientation}: 0; }
  }
}



/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Border
@mixin border($position:false, $width:false, $style:false, $color:false, $default_show:false){
  @if $position AND $width AND $style AND $color{
    @if $default_show{
      border-#{$position}: $width $style $color;
    }@else{
      &.border_#{$position}{ border-#{$position}: $width $style $color; }
    }
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Height (Standard - default, tiny, small, medium, large, huge, giant)
@mixin height($default:false, $tiny:false, $small:false, $medium:false, $large:false, $huge:false, $giant:false, $default_show:false ){

  @if $default{
    @if $default_show{
      height: $default;
    } @else {
      &.height_default{
        height: $default;
      }

    }
  }

  @if $tiny{
    &.height_tiny{
      height: $tiny;
    }
  }

  @if $small{
    &.height_small{
      height: $small;
    }
  }

  @if $medium{
    &.height_medium{
      height: $medium;
    }
  }

  @if $large{
    &.height_large{
      height: $large;
    }
  }

  @if $huge{
    &.height_huge{
      height: $huge;
    }
  }

  @if $giant{
    &.height_giant{
      height: $giant;
    }
  }

  &.height_clear,
  &.height_clean{height: 0}

}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Generate background image positions
@mixin bg_img_position(){
  &[data-bg-h="left"]{
    &[data-bg-v="top"]    { background-position: left top; }
    &[data-bg-v="center"] { background-position: left center;}
    &[data-bg-v="bottom"] { background-position: left bottom;}
  }

  &[data-bg-h="center"]{
    &[data-bg-v="top"]    { background-position: center top; }
    &[data-bg-v="center"] { background-position: center center;}
    &[data-bg-v="bottom"] { background-position: center bottom;}
  }

  &[data-bg-h="right"]{
    &[data-bg-v="top"]    { background-position: right top; }
    &[data-bg-v="center"] { background-position: right center;}
    &[data-bg-v="bottom"] { background-position: right bottom;}
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Spacer generate sizes based on scheme
@mixin spacer_sizes_generate(){

  @each $size in $spacer_sizes{
    $name:   nth($size, 1);
    $height: nth($size, 2);

    @if $name == default{
        height: $height;
    }@else{
      &.height_#{$name}{
        height: $height;
      }

    }
  }

}