/*
GRID FLUID
Version: 1.0
*/
/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Generate Grid ($num = number of columns)
@mixin col_width($num){
	width:(100%/$grid_col_num) * $num;
}

// Generate grid based on items
@mixin cols_count($num){
	width:(100%/$num);
}

// Generate Pull width
@mixin col_pull($num){
	margin-left:-(100%/$grid_col_num) * $num;
}

// Generate Push width
@mixin col_push($num){
	margin-left:(100%/$grid_col_num) * $num;
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Grid col style
@mixin col_style(){
	float: left; min-width: 1px; min-height: 1px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Cols gutter - padding between cols
@mixin col_gutter($gutter:$gutter){
	[class*='col_']{
		@if $gutter == 0{
			padding-left: 0;
			padding-right: 0;
		} @else{
			padding-left: $gutter/2;
			padding-right: $gutter/2;
		}
	}
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */



// Grid correction for first and last col padding to align with container
@mixin grid_correction($gutter:$gutter){
	@if $gutter == 0 {
		margin-left: 0;
		margin-right: 0;
	}@else{
		margin-left: $gutter/2;
		margin-right: $gutter/2;
	}
}


@mixin grid_generate($grid_name:false, $grid_gutter: false) {
	.grid_#{$grid_name}{
		@include grid_correction((-$grid_gutter));
		@include col_gutter($grid_gutter);
		@extend .clearfix;
	}
}



/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Generate different col sizes
@mixin col_generate($size){
	@for $i from 1 to $grid_col_num+1{
		.col_#{$size}_#{$i} {@include col_width($i)}
		.pull_#{$size}_#{$i}{@include col_pull($i)}
		.push_#{$size}_#{$i}{@include col_push($i)}
	}
	.hide_#{$size}{ display: none}
	.show_#{$size}{ display: block}
	.push_#{$size}_reset,
	.pull_#{$size}_reset{ margin-left: 0}
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Generate grid widths for mobile and desktop first design
@mixin col_width_output(){

	@if $responsive == true{

		@if $responsive_first == max-width {

			@include col_generate(l);

			@media screen and ($responsive_first: $screen_desk) {
				@include col_generate(d);
			}

			@media screen and ($responsive_first: $screen_medium) {
				@include col_generate(m);
			}

			@media screen and ($responsive_first: $screen_hybrid) {
				@include col_generate(h);
			}

			@media screen and ($responsive_first: $screen_small) {
				@include col_generate(s);
			}

			@media screen and ($responsive_first: $screen_xsmall) {
				@include col_generate(xs);
			}

		}@else{

			@include col_generate(xs);

			@media screen and ($responsive_first: $screen_small) {
				@include col_generate(s);
			}

			@media screen and ($responsive_first: $screen_hybrid) {
				@include col_generate(h);
			}

			@media screen and ($responsive_first: $screen_medium) {
				@include col_generate(m);
			}

			@media screen and ($responsive_first: $screen_desk) {
				@include col_generate(d);
			}

			@media screen and ($responsive_first: $screen_large) {
				@include col_generate(l);
			}

		}

	}@else{

		@include col_generate(l);

	}

	.push_reset,
	.pull_reset{ margin-left: 0}
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Generate grid
@include grid_generate(fluid,   $gutter);
@include grid_generate(quarter, $gutter_quarter);
@include grid_generate(half,    $gutter_half);
@include grid_generate(double,  $gutter_double);
@include grid_generate(triple,  $gutter_triple);
@include grid_generate(clean,   $gutter_clean);


/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Standard col style
[class*='col_']{ @include col_style(); }

// Columns widths
@include col_width_output();