/*
TOOLTIP
Version: 1.0
*/
/* ---------------------------------------------------------------------------------------------------------------------------------- */

//Tooltip colors
@mixin tooltip_color($tip_color:false, $tip_txt: false, $tip_border: false){
	background: $tip_color; color: $tip_txt; border: 1px solid $tip_border;
	&[data-tip-position="top"]:after{ border-top-color: $tip_color; }
	&[data-tip-position="bottom"]:after{ border-bottom-color: $tip_color; }
	&[data-tip-position="left"]:after{ border-left-color: $tip_color; }
	&[data-tip-position="right"]:after{ border-right-color: $tip_color; }

	&[data-tip-position="top"]:before{ border-top-color: $tip_border; }
	&[data-tip-position="bottom"]:before{ border-bottom-color: $tip_border; }
	&[data-tip-position="left"]:before{ border-left-color: $tip_border; }
	&[data-tip-position="right"]:before{ border-right-color: $tip_border; }
}