/* BUTTONS STYLES */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


.btn,
button,
input[type=submit],
input[type=button],
input[type=reset]{
  @include btn_style();
  @include btn_color();
  @include appearance(none);
  @include font-smoothing();
  @include transition-property(all);
  @include transition-duration(.3s);

  //Default size
  @include btn_size();

  //Big size
  &.btn_big, &[data-size="big"]{ @include btn_size($btn_big_padding, $btn_big_txt_size, $btn_big_line_height )}

  //Small size
  &.btn_small, &[data-size="small"]{ @include btn_size($btn_small_padding, $btn_small_txt_size, $btn_small_line_height)}

  //Set rounded buttons to strait
  &.no_radius{@include border-radius(0);}

  //Full rounded buttons
  &.rounded{@include border-radius(20px);}

  //Disabled buttons
  &.disabled, &:disabled{ background-color:$btn_disabled_bg!important; border-color:$btn_disabled_bg!important; color:$btn_disabled_txt!important }

  //Set button to auto width
  &.auto_width{width: auto; display: inline-block;}

  //Force btn not to break
  &.no_word_break{ word-break: normal }

  //Icon in button
  &.btn_icon,
  &.btn_icon_left,
  &.btn_icon_right{
    i, .icon{ font-size: 18px; vertical-align: middle; }
  }

  &.btn_icon_left{
    i, .icon{   margin-right: 15px;  }
  }

  &.btn_icon_right{
    i, .icon{  margin-left: 15px; }
  }


  /* ---------------------------------------------------------------------------------------------------------------------------------- */

  /* Buttons Colors */
  @include btn_color_generator();

}


