/* FORMS STYLES */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


input[type=text],
input[type=tel],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=datetime],
input[type=search],
select,
textarea{

  @include input_style();

  &.auto_width{ width: auto}
  &:focus{@include box-shadow(rgba($input_focus, 0.2) 0 0 10px);}
  &:disabled{background-color:$input_disabled_bg; color:$input_disabled_text }
}

select{ font-family: Arial, Helvetica, sans-serif; }
textarea{ height: 150px; padding: 12px}

/* Stylize Placeholder */
@include placeholder{
  color: $input_placeholder
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Checkbox and Radio input Global setup */
.checkbox, .radio{
  position: relative;

  label { cursor: pointer;@include user-select(none);position: relative; margin: 0; display: block; }

  //Icon
  .checkbox_icon,
  .radio_icon{
    text-align:center; border: 1px solid; @extend .sy_icon; position: absolute; left: 0; top: 50%;

    &:before{ position: absolute; left: 50%; top: 50%; }
  }

  //move real input out from viewpoint, don't use display:none because of IE7-8
  input[type=checkbox],
  input[type=radio] {position: absolute;left: 5px; top: 5px; z-index: -1}
}

/* Setup custom checkbox input */
.checkbox{

  // icon
  .checkbox_icon { color:$checkbox_bg;background-color: $checkbox_bg;border-color: $checkbox_border; }

  // checked state
  label.checked{
    .checkbox_icon{
      color: $checkbox_active;
    }
  }

  //disabled state
  label.disabled{
    .checkbox_icon{ background-color: $checkbox_border; color:$checkbox_border}
    &.checked{
      .checkbox_icon{color:$checkbox_active}
    }
  }
}
@include checkbox_size();


/* Setup custom radio input */
.radio{

  // icon
  .radio_icon { background-color: $radio_bg;border-color: $radio_border; }

  // checked state
  label.checked{
    .radio_icon:before{
      background-color: $radio_active;
    }
  }

  //disabled state
  label.disabled{
    .radio_icon:before{ background-color: $radio_border; }
  }
}
@include radio_size();


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Setup custom select input */
.select {
  position: relative;border: 1px solid $input_border;height:$input_height;cursor: pointer;overflow:hidden; display: block;@include border-radius($global_radius);
  &:after{ position: absolute; right: 0; top: 0; height: $input_height; z-index: 5; line-height: $input_height; width: 40px; text-align: center;  background-color: $input_bg; color: $input_text; @extend .sy_icon; @extend .sy_arrow_down:before;}
  select {position: absolute; cursor:pointer;z-index: 10;background-color: transparent;@include border-radius(0); border:none; padding-right: 0; width: 100%; height: 100%;left: 0; top: 0;}
  select:focus{outline: none;}
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Upload custom input */
.upload{
  position:relative;
  input[type=file]{font-size:29px;width:100%;position:absolute;top:0;cursor:pointer;left:0;display:none}
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */


/* Setup forms layout */
form, .form{
  .field{
    margin-bottom: $form_field_move; position: relative; list-style: none;
    &.big { margin-bottom: $form_field_move*2;}
    &.slim{ margin-bottom: $form_field_move/2;}

    &[data-required="true"]{
      label:after{ content: "*"; font-size: 14px; padding-left: 3px}
    }

    label{
      display: block; margin-bottom: 5px; font-size: $p;

      //label inline with field
      &.inline{ display: inline-block; margin-bottom: 0; padding-top: 5px;}
    }

    .checkbox,
    .radio{ label{ margin-bottom: 0} }

    &.last{margin-bottom: 0}
  }

  .label_correction{}

  //validation error (validation-advice for magento)
  .validation-advice, .error{
    color: $form_error; font-size: 15px; position: absolute; right: 15px; bottom: 15px;
    &:before{@extend .sy_icon; @extend .sy_remove_round:before; padding-right: 10px; vertical-align: bottom}
  }
}