/* MY RESET STYLE */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


:focus {outline:0;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0; font-weight: normal}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
li ul, li ol {margin:0;line-height:1.8;}
ul {list-style-type:disc;margin:0}
ol {list-style-type:decimal;margin:0}


/* Layout Reset Style */
* {@include box-sizing(border-box);}

.no_br,
.nobr   {white-space: nowrap;}

/* Floating Clear */
.clearfix:after {content: "";display: table;clear: both;}
.clear {clear:both}