/* VARIABLES */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Setup Colors (http://chir.ag/projects/name-that-color/)
$color_sushi:                 #dd3501;
$color_mine_shaft:            #373737;
$color_tundora:               #474747;
$color_chicago:               #5b5b59;
$color_gray:                  #898989;
$color_silver:                #bbbbbb;
$color_alto:                  #dbdbdb;
$color_gallery:               #eaeaea;
$color_seashell:              #f1f1f1;
$color_pampas:                #f7f6f2;
$color_rust:                  #a54c3b;
$color_astral:                #3b79a5;
$color_turmeric:              #c7c545;
$color_white:                 #ffffff;


$color_error:                 #f2a89c;  //error notification color
$color_success:               #c4dcc0;  //success  notification color
$color_notice:                #c0cddc;  //notice  notification color


//Create color scheme
$color_schemes:(
        'sushi'       $color_sushi,
        'mine_shaft'  $color_mine_shaft,
        'tundora'     $color_tundora,
        'chicago'     $color_chicago,
        'gray'        $color_gray,
        'silver'      $color_silver,
        'alto'        $color_alto,
        'seashell'    $color_seashell,
        'gallery'     $color_gallery,
        'pampas'      $color_pampas,
        'rust'        $color_rust,
        'astral'      $color_astral,
        'turmeric'    $color_turmeric
        'white'       $color_white
);


//Naming conventions
//default, tiny, small, medium, large, huge, giant


/* ---------------------------------------------------------------------------------------------------------------------------------- */
//Common
$global_radius:               4px; //Setup global border radius (buttons, forms and etc.)


/* ---------------------------------------------------------------------------------------------------------------------------------- */
// TYPOGRAPHY GLOBAL


// Default Link color
$link_color:                  $color_sushi;
$link_color_hover:            darken($color_sushi, 15%);;


$body_font_family:            Arial, Helvetica, sans-serif;
$body_font_family_serif:      Georgia, sans-serif;
$body_bg_color:               $color_white;
$body_txt_color:              $color_mine_shaft;
$body_font_weight:            normal;


//Html base size
$body_base_size:              18px!default;
$body_base_size_d:            17px;
$body_base_size_m:            16px;
$body_base_size_h:            15px;
$body_base_size_s:            14px;
$body_base_size_xs:           13px;


//Headers and paragraph
$h1:                          42px;
$h2:                          35px;
$h3:                          32px;
$h4:                          29px;
$h5:                          26px;
$h6:                          23px;
$p:                           $body_base_size;
$medium:                      $body_base_size - 2;
$small:                       $body_base_size - 4;
$tiny:                        $body_base_size - 6;


// Line heights
$h1lh:                        $h1+5;
$h2lh:                        $h2+5;
$h3lh:                        $h3+5;
$h4lh:                        $h4+5;
$h5lh:                        $h5+5;
$h6lh:                        $h6+5;
$plh:                         $p +5;
$mediumlh:                    $tiny + 5;
$smalllh:                     $small+ 5;
$tinylh:                      $tiny + 5;


/* ---------------------------------------------------------------------------------------------------------------------------------- */
// TYPOGRAPHY CONTENT STYLE


//Headers and paragraph
$cs_h1:                       $h1;
$cs_h2:                       $h2;
$cs_h3:                       $h3;
$cs_h4:                       $h4;
$cs_h5:                       $h5;
$cs_h6:                       $h6;
$cs_p :                       $p;
$cs_medium:                   $medium;
$cs_small:                    $small;
$cs_tiny:                     $tiny;


// Line heights
$cs_h1lh:                     $cs_h1+5;
$cs_h2lh:                     $cs_h2+5;
$cs_h3lh:                     $cs_h3+5;
$cs_h4lh:                     $cs_h4+5;
$cs_h5lh:                     $cs_h5+5;
$cs_h6lh:                     $cs_h6+5;
$cs_plh :                     $cs_p+5;
$cs_mediumlh:                 $cs_medium + 5;
$cs_smalllh:                  $cs_small  + 5;
$cs_tinylh:                   $cs_tiny   + 5;


//margin move for p, ul, img and other
$cs_move_headers:             5px;
$cs_move:                     20px;
$cs_move_li:                  5px;


/* ---------------------------------------------------------------------------------------------------------------------------------- */
// ICONS

$icons_font_family:           'stylish';
$icons_font_location:         '../fonts/stylish';


/* ---------------------------------------------------------------------------------------------------------------------------------- */
// GRID


// Grid Fluid
$gutter:                      40px; //gutter padding
$grid_col_num:                12;   //fluid grid max columns number

$gutter_quarter:              $gutter/4;
$gutter_half:                 $gutter/2;
$gutter_double:               $gutter*2;
$gutter_triple:               $gutter*3;
$gutter_clean:                0;


// Grid Sidebar Fix
$sidebar_width:               300px; //fixed sidebar grid, sidebar width
$gutter_fix:                  $gutter; //fixed sidebar grid, padding between main fluid col and fixed sidebar


// Grid
$page_max_width:              1200px; //max wid for page container
$responsive_first:            max-width; //If using mobile first put "min-width" else for desktop first use "max-width"


//Responsive
$responsive:                  true; // set true or false if using responsive (if set to false use only "col_l_" grid)

//Desktop First Layout
$screen_desk:                 $page_max_width - 1;
$screen_medium:               989px;
$screen_hybrid:               767px;
$screen_small:                549px;
$screen_xsmall:               319px;


//Mobile First Layout
//$screen_small:              319px;
//$screen_hybrid:             549px;
//$screen_medium:             767px;
//$screen_desk:               989px;
//$screen_large:              $page_max_width - 1;


/* ---------------------------------------------------------------------------------------------------------------------------------- */
// FORMS


//input fields
$input_txt_color:             $color_mine_shaft;
$input_bg_color:              $color_white;
$input_border_width:          1px;
$input_border_style:          solid;
$input_border_color:          $color_alto;
$input_margin:                0;
$input_width:                 100%;
$input_font_family:           $body_font_family; //(use web safe font for cross-browser compatibility)
$input_radius:                $global_radius;
$input_weight:                normal;
$input_focus:                 $color_sushi;
$input_placeholder:           $color_alto;
$input_rem:                   false;

$input_bg_disabled:           $color_silver;
$input_txt_disabled:          $color_alto;


    // ---------------------------------------- //
    //select fields
    $select_icon_color:           $color_mine_shaft;


    // ---------------------------------------- //
    //checkbox
    $checkbox_bg:                 $input_bg_color;
    $checkbox_border:             $input_border_color;
    $checkbox_active:             $color_sushi;


    // ---------------------------------------- //
    //radio
    $radio_bg:                    $input_bg_color;
    $radio_border:                $input_border_color;
    $radio_active:                $checkbox_active;


    // ---------------------------------------- //
    //form style
    $form_error:                  $color_error;
    $form_error_move_default:     10px;

    $form_field_move_default:     20px;

    $form_required_move:          3px;
    $form_required_size:          14px;

    $form_label_move:             5px;


    // ---------------------------------------- //
    //Input setup specific sizes
    $input_size_tiny:(
        height:         10px,
        txt:            $p,
        line_height:    $p,
        move_v:         10px,
        move_h:         10px,
        border_width:   $input_border_width,
        checkbox_icon:  5px,
        radio_icon:     5px,
        select_icon:    5px
    );

    $input_size_small:(
        height:         20px,
        txt:            $p,
        line_height:    $p,
        move_v:         10px,
        move_h:         10px,
        border_width:   $input_border_width,
        checkbox_icon:  10px,
        radio_icon:     10px,
        select_icon:    10px
    );

    $input_size_medium:(
        height:         30px,
        txt:            $p,
        line_height:    $p,
        move_v:         10px,
        move_h:         10px,
        border_width:   $input_border_width,
        checkbox_icon:  20px,
        radio_icon:     20px,
        select_icon:    20px
    );

    $input_size_default:(
        height:         40px,
        txt:            $p,
        line_height:    $p,
        move_v:         10px,
        move_h:         10px,
        border_width:   $input_border_width,
        checkbox_icon:  30px,
        radio_icon:     30px,
        select_icon:    30px
    );

    $input_size_large:(
        height:         50px,
        txt:            $p,
        line_height:    $p,
        move_v:         10px,
        move_h:         10px,
        border_width:   $input_border_width,
        checkbox_icon:  40px,
        radio_icon:     40px,
        select_icon:    40px
    );

    $input_size_huge:(
        height:         60px,
        txt:            $p,
        line_height:    $p,
        move_v:         10px,
        move_h:         10px,
        border_width:   $input_border_width,
        checkbox_icon:  50px,
        radio_icon:     50px,
        select_icon:    50px
    );

    $input_size_giant:(
        height:         70px,
        txt:            $p,
        line_height:    $p,
        move_v:         10px,
        move_h:         10px,
        border_width:   $input_border_width,
        checkbox_icon:  60px,
        radio_icon:     60px,
        select_icon:    60px
    );

    // ---------------------------------------- //
    //Input generate sizes
    $input_sizes:(
      tiny:     $input_size_tiny,
      small:    $input_size_small,
      medium:   $input_size_medium,
      default:  $input_size_default,
      large:    $input_size_large,
      huge:     $input_size_huge,
      giant:    $input_size_giant
    );



/* ---------------------------------------------------------------------------------------------------------------------------------- */
// BUTTONS


$btn_transform:               uppercase;
$btn_font_family:             $body_font_family;
$btn_radius:                  $global_radius;
$btn_border_width:            2px;
$btn_border_style:            solid;
$btn_txt_align:               center;
$btn_width:                   auto;
$btn_txt_weight:              normal;
$btn_display:                 inline-block;
$btn_white_space:             nowrap;
$btn_txt_decoration:          none;
$btn_cursor:                  pointer;
$btn_margin:                  0;
$btn_rem:                     false;

$btn_icon_size:               18px;
$btn_icon_move:               10px;


    // ---------------------------------------- //
    //Btn move in sizes (padding left,right)
    $btn_move_in_size:(
        'tiny':         10px,
        'small':        15px,
        'medium':       20px,
        'default':      30px,
        'large':        35px,
        'huge':         40px,
        'giant':        45px
    );

    // ---------------------------------------- //
    //Btn generate sizes
    $btn_size_tiny:(
        height:       20px,
        txt:          10px,
        line_height:  10px,
        move_v:       4px,
        move_h:       map_get($btn_move_in_size, tiny),
        border_width: $btn_border_width
    );
    $btn_size_small:(
        height:       25px,
        txt:          12px,
        line_height:  12px,
        move_v:       5px,
        move_h:       map_get($btn_move_in_size, small),
        border_width: $btn_border_width
    );
    $btn_size_medium:(
        height:       30px,
        txt:          14px,
        line_height:  14px,
        move_v:       7px,
        move_h:       map_get($btn_move_in_size, medium),
        border_width: $btn_border_width
    );
    $btn_size_default:(
        height:       40px,
        txt:          16px,
        line_height:  16px,
        move_v:       11px,
        move_h:       map_get($btn_move_in_size, default),
        border_width: $btn_border_width
    );
    $btn_size_large:(
        height:       45px,
        txt:          18px,
        line_height:  18px,
        move_v:       12px,
        move_h:       map_get($btn_move_in_size, large),
        border_width: $btn_border_width
    );
    $btn_size_huge:(
        height:       50px,
        txt:          20px,
        line_height:  20px,
        move_v:       14px,
        move_h:       map_get($btn_move_in_size, huge),
        border_width: $btn_border_width
    );
    $btn_size_giant:(
        height:       55px,
        txt:          22px,
        line_height:  22px,
        move_v:       15px,
        move_h:       map_get($btn_move_in_size, giant),
        border_width: $btn_border_width
    );

    // ---------------------------------------- //
    //Btn generate sizes
    $btn_sizes:(
      'tiny':     $btn_size_tiny,
      'small':    $btn_size_small,
      'medium':   $btn_size_medium,
      'default':  $btn_size_default,
      'large':    $btn_size_large,
      'huge':     $btn_size_huge,
      'giant':    $btn_size_giant
    );

    // ---------------------------------------- //

    //Btn generate colors
    $btn_colors:(
        'mine_shaft':(
            bg:             $color_mine_shaft,
            txt:            $color_white,
            border:         $color_mine_shaft,
            hover_bg:       transparent,
            hover_txt:      $color_mine_shaft,
            hover_border:   $color_mine_shaft
        ),
        'mine_shaft_border':(
                bg:             transparent,
                txt:            $color_mine_shaft,
                border:         $color_mine_shaft,
                hover_bg:       $color_mine_shaft,
                hover_txt:      $color_white,
                hover_border:   $color_mine_shaft
        ),
        'sushi':(
                bg:             $color_sushi,
                txt:            $color_white,
                border:         $color_sushi,
                hover_bg:       transparent,
                hover_txt:      $color_sushi,
                hover_border:   $color_sushi
        ),
        'sushi_border':(
                bg:             transparent,
                txt:            $color_sushi,
                border:         $color_sushi,
                hover_bg:       $color_sushi,
                hover_txt:      $color_white,
                hover_border:   $color_sushi
        )
    );

/* ---------------------------------------------------------------------------------------------------------------------------------- */
// COMPONENTS


//Accordion
$acc_head_color:              $color_silver;
$acc_head_padding:            10px;
$acc_content_color:           $color_white;
$acc_content_padding:         20px;


// ---------------------------------------- //
//Block
$block_move_bottom:           80px;
$block_b_title_move_bottom:   25px;
$block_title_move_bottom:     25px;

$block_move_in_bottom:        25px;
$block_b_title_move_in_bottom:25px;
$block_title_move_in_bottom:  25px;

$block_border_position:       bottom;
$block_border_width:          1px;
$block_border_style:          solid;
$block_border_color:          $color_mine_shaft;


$btn_set_btn_move:            10px;


// ---------------------------------------- //
//Breadcrumbs
$crumb_separator_size:        14px;
$crumb_separator_padding:     10px;


// ---------------------------------------- //
//Divider and spacer
$divider_move_default:        50px;

$divider_border_position:     bottom;
$divider_border_width:        1px;
$divider_border_style:        solid;
$divider_border_color:        $color_gallery;

$spacer_sizes: (
    'tiny':      10px,
    'small':     20px,
    'medium':    30px,
    'default':   40px,
    'large':     50px,
    'huge':      60px,
    'giant':     70px
);


  // ---------------------------------------- //
//Modal
$modal_max_width:             600px;
$modal_overlay_opacity:       0.7;
$modal_overlay_bg_color:      $color_mine_shaft;
$modal_bg_color:              $color_white;
$modal_close_position:        10px;
$modal_close_size:            20px;
$modal_slide_top_move:        15px;
$modal_content_padding:       35px;
$modal_head_move:             30px;
$modal_title_move:            10px;
$modal_footer_move:           30px;


// ---------------------------------------- //
//Messages
$msg_move:                    30px;
$msg_item_padding:            10px;
$msg_item_move:               20px;
$msg_icon_size:               30px;
$msg_txt_color:               $color_mine_shaft;
$msg_txt_size:                $p;


// ---------------------------------------- //
//Other
$loading_size:                50px;

$overlay_bg_color:            $color_mine_shaft;
$overlay_bg_opacity:          0.4;


// ---------------------------------------- //
//Pagination
$pag_item_move:               3px;
$pag_item_txt_size:           $p;
$pag_item_bg:                 $color_white;
$pag_item_text:               $color_mine_shaft;
$pag_item_current_bg:         $color_sushi;
$pag_item_current_text:       $color_white;
$pag_item_padding_v:          10px;
$pag_item_padding_h:          15px;


// ---------------------------------------- //
//Table
$table_padding_v:             5px;
$table_padding_h:             10px;

$table_head_border:           $color_gallery;
$table_head_padding_v:        5px;
$table_head_padding_h:        10px;

$table_body_border:           $color_gallery;
$table_body_padding_v:        5px;
$table_body_padding_h:        10px;

$table_foot_border:           $table_head_border;
$table_foot_padding_v:        5px;
$table_foot_padding_h:        10px;


$status_item_padding_v:       2px;
$status_item_padding_h:       5px;


// ---------------------------------------- //
//Tabs
$tabs_head_color:             $color_gallery;
$tabs_head_bg_color_active:   $color_white;
$tabs_head_color_active:      $color_mine_shaft;
$tabs_head_item_padding_v:    10px;
$tabs_head_item_padding_h:    0;
$tabs_content_padding_v:      20px;
$tabs_content_padding_h:      0;


// ---------------------------------------- //
//Tooltip
$tooltip_arrow:               10px;
$tooltip_border:              $color_gallery;
$tooltip_bg:                  $color_white;
$tooltip_txt:                 $color_mine_shaft;
$tooltip_content_shadow:      $color_mine_shaft;
$tip_padding:                 10px;
$tip_max_width:               300px;