/* Navigation setup */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


//Navigation Global Setup
.nav,
.navi{
  li{
    list-style: none;text-align: center;
    a{display: block;}
  }

  //Navigation align
  &.nav_aright li{ text-align: right}
  &.nav_aleft  li{ text-align: left}


  //Calculate navigation item width based on data-item attribute
  $i:24;
  @while $i > 0{
    &[data-item="#{$i}"] li,
    &[data-items="#{$i}"] li{ width:100%/$i; }
    $i:$i - 1;
  }
  @extend .clearfix
}


//Navigation with float left
.nav{
  li{ float: left; }
  &.nav_right li{ float: right; }
}


//Navigation with display inline
.navi li{ display:inline-block; vertical-align: middle ; margin-right: -6px; }




//Sticky Navigation
.sticky{
  position: fixed; z-index: 10000;

  &.top{    top: 0;}
  &.bottom{ bottom: 0;}

  &.left{  left: 0; }
  &.right{ right: 0; }
}
