/* Pagination setup */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


.pagination{
  list-style: none; text-align: center;
  li{
    display: inline-block; margin: 0 3px;
    a{
      background-color: $pag_item_bg; color: $pag_item_text; font-size: 14px; padding: 10px;@include border-radius(4px);
      &:hover{background-color: darken($pag_item_bg, 8%)}
    }

    //Active / Current state
    &.current a{ background-color: $pag_item_current_bg; color:$pag_item_current_text}
  }
}
