/* Tabs setup */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


.tabs{

  //Tabs Head
  .t_head{
    background-color: $tabs_head_color;
    li{
      cursor: pointer;@include transition-property(background-color);@include transition-duration(.3s); padding: 10px 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      &.active{
        color: $tabs_head_active_color;  background-color:$tabs_head_active_bg_color;
      }
    }
  }

  //Tabs content
  .t_content{
    @include transition-property(height); @include transition-duration(.4s); overflow: hidden;
    .t_content_item{
      padding: $gutter; display: none;
    }
  }

}