/* Tabs setup */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


.tabs{

  //Tabs Head
  .t_head{
    background-color: $tabs_head_color;
    li{
      cursor: pointer;@include transition-property(background-color);@include transition-duration(.3s); padding: 10px 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      &.active{
        color: $color_mine_shaft;  background-color:$color_white;
      }
    }
  }

  //Tabs content
  .t_content{
    height: 0; overflow: hidden;
    &.active{ height: 100%;}

    .t_content_wrap{ padding: 20px 0; }
  }
}