/* Tooltip setup */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


.tooltip{
  position: relative;

  //User to trigger tip
  .tooltip_trigger{ cursor: pointer;}
}


//Tooltip
.tip {
  position: absolute; padding: 10px; text-align: center; max-width: 300px; font-size: 14px; line-height: 18px;@include border-radius($global_radius); @include box-shadow(rgba($color_mine_shaft, 0.1) 1px 1px 2px 0px);z-index: 500;
  &:after,
  &:before{
    content: ""; position: absolute; width: 0; height: 0; border: $tooltip_arrow solid transparent;
  }

  &.inactive{ left: -500000px!important;}

  //Position general
  &[data-tip-position="top"],
  &[data-tip-position="bottom"]{
    &[data-tip-arrow="left"]{
      &:after,
      &:before{left: 20px;}
    }
    &[data-tip-arrow="center"]{
      &:after,
      &:before{left: 50%; margin-left: -$tooltip_arrow;}
    }
    &[data-tip-arrow="right"]{
      &:after,
      &:before{right: 20px;}
    }
  }

  &[data-tip-position="left"],
  &[data-tip-position="right"]{
    &[data-tip-arrow="top"]{
      &:after,
      &:before{top: 20px;}
    }
    &[data-tip-arrow="center"]{
      &:after,
      &:before{top: 50%; margin-top: -$tooltip_arrow}
    }
    &[data-tip-arrow="bottom"]{
      &:after,
      &:before{bottom: 20px;}
    }
  }


  //Position specific
  &[data-tip-position="top"]{
    &:after,&:before{bottom:-$tooltip_arrow*2;}
    &:before{ margin-bottom: -1px}
  }
  &[data-tip-position="bottom"]{
    &:after,&:before{top:-$tooltip_arrow*2;}
    &:before{ margin-top: -1px}
  }
  &[data-tip-position="left"]{
    left:0;
    &:after,&:before{right:-$tooltip_arrow*2;}
    &:before{ margin-right: -1px}
  }
  &[data-tip-position="right"]{
    right:0;
    &:after,&:before{left:-$tooltip_arrow*2;}
    &:before{ margin-left: -1px}
  }


  //Generate default color style
  @include tooltip_color();


  //Tip Details Style
  .tip_title{ font-size: 18px; line-height: 21px; margin-bottom: 5px; display: block}
}




