/* BLOCK */
/* ---------------------------------------------------------------------------------------------------------------------------------- */


.block{
  @include move_bottom($block_move_bottom, $block_small, $block_large);
  @include border($block_border_position, $block_border_width, $block_border_style, $block_border_color);


  .b_title{
    position: relative;
    @include move_bottom($block_b_title_move_bottom, $block_small, $block_large);
    @include border($block_border_position, $block_border_width, $block_border_style, $block_border_color);

    .title{
      position: relative;
      @include move_bottom($block_title_move_bottom, $block_small, $block_large);
      @include border($block_border_position, $block_border_width, $block_border_style, $block_border_color);
    }
    .subtitle{@include font_style($medium, $mediumlh); color:$color_gray; }
  }
}


//Wrapper to correct for block margin
.block_wrap
.block_wrapper{
  @include move_bottom(-$block_move_bottom, $block_small, $block_large);
}


//Button set to move btn on responsive
.btn_set{
  margin-bottom: -($btn_set_btn_move); overflow: hidden;
  .btn,
  .btn_link{ margin-bottom:$btn_set_btn_move }
  .btn_link{ display: block}
}