/*
DIVIDER AND SPACER
Version: 1.0
*/
/* ---------------------------------------------------------------------------------------------------------------------------------- */


// Divider
.divider{
	width: 100%; display: block; margin-right: auto; margin-left: auto;
	@include map_property_generate($divider_sizes, move, margin, top, true);
	@include map_property_generate($divider_sizes, move, margin, bottom, true);
	@include border($divider_border_position, $divider_border_width, $divider_border_style, $divider_border_color, true);
}


//Spacer
.spacer{
	display: block; @include map_property_generate($spacer_sizes, height, height, false, true);
}